*{
    padding: 0px;
    margin: 0px;
    font-family: 'Oswald', sans-serif !important;
}

.main{
    display: flex;
    justify-content: space-around;
    margin: 5px 20px ;
    padding: 10px;
}
.main h1{
    text-align: center;
}
.main input{
    font-size: large;
    padding: 3px 5px;
}
/* .registration{
    border: 2px solid gray;
    height: 33rem;
    padding: 10px;
}
.login{
    border: 2px solid gray;
    height: 19rem;
    padding: 15px;
} */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* table{
    margin: 20px auto;
    padding: 10px;

}
tr{
    display: flex;
    align-items: center;
}
th,td{
    padding: 2px 5px;
}

} */
th{
    width: 8rem;
    text-align: left;
}

/* .btn{
    border: 1px solid black;
    margin: 5px ;
    padding: 5px 10px;
    font-size: 15px;
    background-color: white;
    box-shadow: 3px 3px black;
}
.btn:hover{
    font-size: 17px;
    background-color: black;
    color: white;
    
} */

.error{
    color: #f12b1d;
    list-style-type: none;
    margin: 1px 0px;
    padding: 0px;
    font-size: 10px;
}
.warning_head{
    height: 2rem;
    text-align: center;
    margin: 15px 10px 0px;
    padding: 0px 0px 10px 0px;
}
.warning{
    color: #dff706;
    list-style-type: none;
    font-size: 25px;
    font-weight: bold;
}

.login_table  {
    margin: 10px 15px;
    padding: 5px 5px;
}

.red {
    color: #ff2922;
}
.row-error{
    height: 1.9rem;
}