.card{
    width: fit-content;
    height: 50%;
    margin: 10em auto;
}

.card-body{
    width: fit-content;
    margin: 0 auto;
}

.btn{
    margin: 20px 10px;
}
.card-text,.card-title{
    text-align: center;
}

form {
    display: inline-block;
    width: fit-content;
}