*{
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
}

.board{
    margin: 10px auto;
    width: 80%;
    border: 1px solid sandybrown;
}
.col{
    display: inline-block;
    margin: 0px -5px;
    padding: 0px 0px;
    background-color: rgb(33, 119, 153);
    width:64px;
    height: 64px;
}
.odd{
    background-color: sandybrown; 
}
.even{
    background-color: black; 
}
.row{
    width:fit-content;
    height: 64px;
    /*border: 1px solid black;*/
    margin: 0 auto;
}