<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkboard</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <h1>Checkboard</h1>
    <div class="board">
        {% for row in range(x):%}
        <div class="row">
        {% for col in range(y):%}
            {%if (col+row)%2==1 %}
                <div class="col odd" style="background-color: {{color1}};">

                </div>
            {%else:%}
                <div class="col even" style="background-color: {{color2}};">

                </div>
            {% endif %}
        {% endfor %}
        </div>
        {% endfor %} 

    </div>
      
</body>
</html>