<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style_success.css' %}">
</head>

<body>
    <div class="go_back">
        <a href="/logout">Log Out</a>
    </div>
    <div class="welcome">
        <h1>Success , welecome {{user.first_name}} {{user.last_name}}</h1>
        {% if messages %}
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        
        {% endfor %}
        {% endif %}
    </div>

</body>

</html>