/* hr{
    border: 2px solid #444;
}*/

.read_data{
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    max-height: 300px;
}
 .add_user{
    /* position: sticky; */
} 

