hr{
    border: 2px solid #444;
}

.table-responsive{
    max-height:300px;
}

.user_table{
    display: block ;
    max-height: 10em;
    overflow: scroll;
} 
.user_table > tr {
    display: table-row;
}